body {
    margin: 0;
}

.container {
    .header {
        height: auto;
        line-height: normal;

        a {
            display: inline-block;
            padding: 1rem;
            color: white;

            &.avatar {
                padding: 0;
                padding-right: 2rem;
            }

            &.active {
                background-color: white;
                color: black;
            }
        }
    }

    .layout {
        min-height: calc(100vh - 50px);

        .donate {
            margin: 1rem;
        }
    }

    .library-container {
        padding-top: 4rem;

        .form-container {
            width: 65rem;
            margin: 0 auto;
        }
    }
}
